:host {
  display: block;
  background-color: lightgray;
}

.pages-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  transform-origin: top left;
  transition: all 0.3s ease-in-out;
  overflow: clip;
}

.not-found-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 26px;
}
