@import 'variables.less';

:host {
  position: fixed;
  left: 16px;
  top: 24px;
  border: 2px solid @primary;
  background: white;
  border-radius: @base-border-radius;
  padding: calc(@base-gap * 2) @base-gap;

  @media (max-width: 640px) {
    left: 8px;
    top: 12px;
    padding: @base-gap calc(@base-gap / 2);
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: calc(@base-gap * 1.5);

  @media (max-width: 640px) {
    gap: @base-gap;
  }
}

.action-button {
  cursor: pointer;
  border: none;
  background: none;
  padding: @base-gap;
  border-radius: @base-border-radius;
  transition: background-color 0.5s ease;

  @media (max-width: 640px) {
    padding: calc(@base-gap / 2);
  }

  .button-icon {
    width: 20px;
    height: 20px;

    @media (max-width: 640px) {
      width: 16px;
      height: 16px;
    }
  }

  &:active {
    background-color: @primary-dark;
  }

  @media (hover: hover) {
    &:hover {
      background-color: @primary;
    }
  }
}

.active {
  background-color: @primary;
}
