<div
  appDrag
  class="container"
  [style.width.px]="annotation().width"
  [style.height.px]="annotation().height"
  [style.left.px]="annotation().x"
  [style.top.px]="annotation().y"
>
  <div class="header">
    <span class="time">{{ annotation().createdAt }}</span>
    <div class="action-buttons">
      <button
        class="action-button"
        title="Свернуть"
        (click)="collapseAnnotation()"
        (mousedown)="$event.stopPropagation()"
      >
        <img class="button-icon" src="icons/minus.svg" alt="Свернуть" />
      </button>
      <button
        class="action-button"
        title="Удалить"
        (click)="deleteAnnotation()"
        (mousedown)="$event.stopPropagation()"
      >
        <img class="button-icon" src="icons/trash.svg" alt="Удалить" />
      </button>
    </div>
  </div>

  <textarea class="annotation-text" [formControl]="annotationControl"></textarea>
</div>
