@import 'variables.less';

.container {
  position: absolute;
  border: 2px solid @primary-dark;
  border-radius: calc(@base-border-radius * 2);
  padding: calc(@base-gap * 3) calc(@base-gap * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(@base-gap * 2);
  background: white;
  opacity: 0.95;
  touch-action: none;

  @media (max-width: 640px) {
    border-radius: @base-border-radius;
    padding: @base-gap calc(@base-gap / 2);
    gap: @base-gap;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (max-width: 640px) {
    font-size: 12px;
  }
}

.action-buttons {
  display: flex;

  .action-button {
    cursor: pointer;
    border: none;
    background-color: #526ed3;
    color: #fff;
    border-radius: @base-border-radius;
    padding: calc(@base-gap / 2);

    @media (max-width: 640px) {
      padding: calc(@base-gap / 4);
      border-radius: calc(@base-border-radius / 2);
    }

    &:hover {
      background-color: @primary;
    }

    &:active {
      background-color: @primary-dark;
    }
  }
}

.annotation-text {
  font-size: 16px;
  resize: none;
  outline: none;
  border: 2px solid @primary-dark;
  padding: calc(@base-gap * 1.5);
  border-radius: calc(@base-border-radius * 2);
  width: calc(100% - calc(@base-gap * 4));
  height: auto;
  flex-grow: 1;

  @media (max-width: 640px) {
    font-size: 12px;
    padding: calc(@base-gap / 2);
    border-radius: @base-border-radius;
    width: calc(100% - @base-gap);
  }
}

.button-icon {
  height: 20px;
  width: 20px;

  @media (max-width: 640px) {
    height: 12px;
    width: 12px;
  }
}
