.container {
  position: absolute;
  border: 2px solid #314692;
  border-radius: 8px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: white;
  opacity: 0.95;
  touch-action: none;

  @media (max-width: 640px) {
    border-radius: 4px;
    padding: 8px 4px;
    gap: 8px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (max-width: 640px) {
    font-size: 12px;
  }
}

.action-buttons {
  display: flex;

  .action-button {
    cursor: pointer;
    border: none;
    background-color: #526ed3;
    color: #fff;
    border-radius: 4px;
    padding: 4px;

    @media (max-width: 640px) {
      padding: 2px;
      border-radius: 2px;
    }

    &:hover {
      background-color: #6c86e2;
    }

    &:active {
      background-color: #314692;
    }
  }
}

.annotation-text {
  font-size: 16px;
  resize: none;
  outline: none;
  border: 2px solid #314692;
  padding: 12px;
  border-radius: 8px;
  width: calc(100% - 32px);
  height: auto;
  flex-grow: 1;

  @media (max-width: 640px) {
    font-size: 12px;
    padding: 4px;
    border-radius: 4px;
    width: calc(100% - 8px);
  }
}

.button-icon {
  height: 20px;
  width: 20px;

  @media (max-width: 640px) {
    height: 12px;
    width: 12px;
  }
}
